<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin" />
    <meta name="description" content="using (DevExpress.Utils.WaitDialogForm waitForm = new DevExpress.Utils.WaitDialogForm()){ 需要加载的代码 }" />
    <meta property="og:description" content="using (DevExpress.Utils.WaitDialogForm waitForm = new DevExpress.Utils.WaitDialogForm()){ 需要加载的代码 }" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <title>爱晒太阳的懒猫。。 - 博客园</title>
    
    <link id="MainCss" rel="stylesheet" href="/static/css/custom.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/start_index.css" />
    
<!--     <script>
        var currentBlogId = 465669;
        var currentBlogApp = 'cat-cat';
        var cb_enable_mathjax = false;
        var isLogined = true;
        var isBlogOwner = true;
        var skinName = 'SimpleMemory';
        var visitorUserId = '32ca08b5-9a50-4dc2-f0e5-08d62bf1a095';
    </script> -->
<!--         <script>
            var currentPostDateAdded = '2019-12-16 10:13';
        </script> -->
    <script src="https://common.cnblogs.com/scripts/jquery-2.2.0.min.js"></script>
    <script src="/js/blog-common.min.js?v=8XLVVgIKTDKdhgJp-38Ybd0sr84shalIuuDSorvxDlE"></script>
    
    
    
</head>
<body class="no-navbar">
    <a name="top"></a>

    
    <!--done-->
<div id="home">

    <div id="header">
        <div id="blogTitle">		
    <!--done--><h1><a id="Header1_HeaderTitle" class="headermaintitle HeaderMainTitle">爱晒太阳的懒猫。。</a></h1>
        </div><!--end: blogTitle 博客的标题和副标题 -->
        <div id="navigator">
            <ul id="navList">
                <li><a id="blog_nav_myhome" class="menu" href="https://www.cnblogs.com/cat-cat/">首页</a></li>
                <li><a id="blog_nav_admin" class="menu" href="./login.tpl">管理</a></li>
            </ul>
        </div><!--end: navigator 博客导航栏 -->
    </div><!--end: header 头部 -->

    <div id="main">
        <div id="mainContent">
        <div class="forFlow">
        <div id="post_detail">
            <!--done-->
            <div id="topics">
                <div class="post">
                    <h1 class = "postTitle">
                        <a id="cb_post_title_url" class="postTitle2 vertical-middle" href="https://www.cnblogs.com/cat-cat/p/12047709.html">
                            <span>{{.Title}}</span></a><!-- 文章标题 -->
                    </h1>
                    <div class="postBody">
                        <div id="cnblogs_post_body" class="blogpost-body">
                            <p style="white-space: pre-line;">{{.Content}}</p>
                        </div>
                    </div>
                    <div class="postDesc">posted @ 
                        <span id="post-date">2019-12-16 10:13</span>&nbsp;
                        <a href="https://www.cnblogs.com/cat-cat/">爱晒太阳的懒猫。。</a>&nbsp;
                        阅读(<span id="post_view_count">181</span>)&nbsp;
                        评论(<span id="post_comment_count">0</span>)&nbsp;
                        <a href="https://i.cnblogs.com/EditPosts.aspx?postid=12047709" rel="nofollow">编辑</a>&nbsp;
                        <a href="javascript:void(0)" onclick="AddToWz(12047709);return false;">收藏</a>
                    </div>
                </div>
            </div><!--end: topics 文章、评论容器-->
        </div>
        </div><!--end: forFlow -->
        </div><!--end: mainContent 主体内容容器-->
        <div class="clear"></div>
    </div><!--end: main -->

        <div class="clear"></div>
        
    <div id="footer">
        <!--done-->
        Copyright &copy; 2021 爱晒太阳的懒猫。。
        <br /><span id="poweredby">Powered by .NET 5.0 on Kubernetes</span>
    </div><!--end: footer -->
    
</div><!--end: home 自定义的最大容器 -->

</body>
</html>
